.projectsContainer {
    border: green dotted;

    /* display: flex;
    flex-flow: row wrap;

    justify-content: space-evenly; */
}

.projectItem {
    margin: 10px; 
    float: left;
}

.projectThumbnail {
    /* width: 250px;
    height: 200px; */
    z-index: 1;
}
.projectThumbnail:hover {
    opacity: .25;
}


.card-body {
    z-index: 1;
}


.projectTitleLink {
    color: white;    
}
.projectTitleLink:hover {
    /* necessary to prevent color change on hover (from Bootstrap)*/
    color: white;
}