* {
    box-sizing: border-box;
}


.headerBox {
    border: yellow solid;
    background-color: whitesmoke;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;
}

.nameBox {
    background-color: aqua;
    color: white;

    text-align: center;
    padding: 10px;

    width: 34%;

}

.extLinksBox, .contactInfoBox {    
    flex-flow: column nowrap;
    width: 33%;
}

.contactInfoBox {
    align-items: flex-start;
}
.extLinksBox {
    align-items: flex-end;
}





.aboutText {
    background-color: bisque;
}

/* flexbox; scrapped in favor of float */
/* .projectsContainer {
    border: green dotted;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
} */

.projectItem {
    margin: 10px; 
    float: left;
}

.projectThumbnail {
    /* width: 250px;
    height: 200px; */
    z-index: 1;
}
.projectThumbnail:hover, .projectThumbnail:active {
    opacity: .25;
}


.card-body {
    z-index: 1;
}


.projectTitleLink {
    color: white;    
}
.projectTitleLink:hover {
    /* necessary to prevent color change on hover (from Bootstrap)*/
    color: white;
}



/* @media all and (max-width: 575px)  */




@media all and (max-width: 767px) {
    .headerBox {
        flex-flow: column nowrap;
        justify-content: center;
    }

    .nameBox, .extLinksBox, .contactInfoBox {
        width: 100%;
    }

    .extLinksBox, .contactInfoBox {
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .nameBox {
        order: 1;
    }
    .contactInfoBox {
        order: 2;
    }
    .extLinksBox {
        order: 3;
    }
}

@media all and (max-width: 399px) {
    .contactInfoBox {
        flex-direction: column;
        align-items: center;
    }
}